*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 O Layout da pagina foi feito usando grid onde

 MH = mainHeader
 CT = content

*/

#layout{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px;
  
  grid-template-areas:
  'MH'
  'CT';

  height: 100vh;
}

/* Estilos header */

#mainHeader{
  grid-area: MH;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #000;
  color: #8b8b8b;
}

#mainHeader .header_Player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#mainHeader .header_Player div{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 130px;
  margin: 0 50px;
}

#mainHeader .header_Player div i{
  font-size: 20px;
  opacity: 0.5;
}

#mainHeader .header_Player #play{
  font-size: 30px;
  opacity: 0.5;
}

#mainHeader .header_Player #favorite{
  font-size: 20px;
  opacity: 0.5;
}

#mainHeader .header_Logo{
  width: 104px;
  height: 40px;
  cursor: pointer;
  opacity: 0.9;
}

#mainHeader .header_Navegation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 437px;
}
#mainHeader .header_Navegation a{
  font-family: Barlow, "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  text-decoration: none;
  color: #FFF;
  opacity: 0.7;
}
#mainHeader .header_Navegation .user_Photo{
  width: 40px;
}

/* Estilos content */

#content{
  grid-area: CT;

  background-color: #fff;
}

#content .content_Header{
  display: flex;
  height: 60px;
  width: auto;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#content .content_Header .navegation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin-left: 100px;
  margin-top: 10px;
}

#content .content_Header .navegation a{
  font-family: Barlow, "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  height: 31px;
} 

#content .content_Header .navegation .all:hover{
  border-bottom: 5px solid #b90000;
}

#content .content_Header .navegation .artists:hover{
  border-bottom: 5px solid #ff9900;
}

#content .content_Header .navegation .albums:hover{
  border-bottom: 5px solid #009966;
}

#content .content_Header .navegation .tracks:hover{
  border-bottom: 5px solid #0066ff;
}

#content .content_Header .navegation .events:hover{
  border-bottom: 5px solid #9900ff;
}
